.main{
    margin-top: 20%;
}
.mainClick{
    margin-top: 10%;
}
body{
    background-color: #c7fffa;
}
#resTable{
    border: 20px solid #c5bdb8;
    border-radius: 5px;
}
.fix{
    border:20px solid #c0510c;
    border-radius: 5px;
    background-color:#00ddff ;
    padding: 10px;
}
h1,h4{
    color:#140101;
    background-color: aliceblue;
    padding: auto;
}